footer{
    background-color: #0E1021;
    a{
        text-decoration: none;
        p:hover{
            text-decoration: underline;
        }
    }
    p{
        color:RGBA(255,255,255,0.7);
        font-size: 16px;
        font-weight: 400;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        

        .child-info{
            display: grid;
            grid-template-columns:2fr repeat(4, 1fr);
            column-gap: 70px;
            text-align: start;
            align-items: center;
            margin-top: 7%;
            .grid-info-citro{
                display: grid;
                grid-template-rows:minmax(70px,1fr)175px;
                row-gap: 10px;
                p{
                    max-width: 310px;
                }
                
            }
           
            .grid-info{
                display: grid;
                grid-template-rows: minmax(70px, 1fr) repeat(4,40px) ;
                h4{
                    color: #FFFFFF;
                    font-family:'DM Sans', sans-serif;
                }
            }
        
        }
    }
    .parent-social{
        border-top: 1px solid RGBA(255,255,255,0.2 );
        margin-top: 20px;
        display: flex;
        justify-content: center;
        .child-social{
            display: grid;
            grid-template-columns: 1fr auto;
            margin-top: 20px;
            // border: solid;

            .socials{
                display: flex;
                a{
                    margin-left: 1rem;
                    color: #FFFFFF;
                }
            }
        }
    }

}